<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <LogLevel>4</LogLevel>
  <MailService>EMail</MailService>
  <LoggingService>Logging</LoggingService>
  <EmergencyRecipients>b.he@oevermann.de</EmergencyRecipients>
  <CrawlerDisable301>true</CrawlerDisable301>
  <Modul Name="CacheManager">
    <LogLevel>2</LogLevel>
  </Modul>
  <applicationName>schulung.local.oevermann.local</applicationName>
  <forceXmlLogging>true</forceXmlLogging>
</configuration>