<xmlDefinition><classname>Authors</classname><namespaceStr>Schulung.Core</namespaceStr><template><firstname>###ON.Text.TextUtilities.GetDefaultFormated(data.Firstname,data.Language).ReplaceEntities()###</firstname><lastname>###ON.Text.TextUtilities.GetDefaultFormated(data.Lastname,data.Language).ReplaceEntities()###</lastname><id>###data.Id.ToString().ReplaceEntities()###</id><id4HTML>###data.Id.HtmlName###</id4HTML><booksCollCount>###data.BooksCollCount###</booksCollCount><booksColl>%%%data.BooksColl%%%Books%%%<booksCollItem>!!!temp.GetXml(true, false, sb)!!!</booksCollItem>%%%</booksColl></template></xmlDefinition>