<!-- <ng-container *ngIf="book$ | async as book; else loading">
  <h2>{{ book.title }}</h2>
  <p>{{ book.description }}</p>
</ng-container> -->

<h2>{{ (book$ | async)?.title }} -- {{ (book$ | async)?.rating }}</h2>
<p>{{ (book$ | async)?.description }}</p>

<ng-template #loading>
  <strong>Buch wird geladen…</strong>
</ng-template>

<hr>

<a class="btn btn-primary" routerLink="/books">Zurück zum Dashboard</a>

<p class="mt-3">
  <a routerLink="/books/9783864906466">Book 9783864906466 (Angular)</a><br>
</p>
